// .BusinessPage {
//   display: grid;
//   background-color: #000;
//   grid-template-columns: repeat(2, 1fr);
//   grid-template-rows: 3fr 1fr;
//   gap: 20px;
//   padding-top: 80px;
//   overflow-x: hidden;
//   padding: 40px 0 120px;

//   img {
//     height: 400px;
//     width: 400px;
//     margin: 90px 150px;
//     box-shadow: rgb(73, 80, 90) 0px 15px 30px 10px;
//   }

//   tr,
//   th {
//     background-color: #f1cc24;
//     box-shadow: rgb(0, 0, 0) 0px 0px 0px 3px, rgb(0, 0, 0) 0px 0px 0px 6px,
//       rgb(0, 0, 0) 0px 0px 0px 9px, #000000 0px 0px 0px 12px,
//       rgb(0, 0, 0) 0px 0px 0px 15px;
//   }

//   th {
//     padding-bottom: 20px;
//   }

//   td > h5 {
//     color: black;
//   }

//   a {
//     text-decoration: none;
//     color: #000;
//   }

//   a:hover {
//     color: white;
//   }

//   .fa-solid {
//     border: 1px solid white;
//     padding: 5px;
//     border-radius: 40px;
//     font-size: 10px;
//   }

//   .fa-solid:hover {
//     color: rgb(0, 0, 0);
//     background-color: white;
//   }

//   &__Details {
//     margin-right: 60px;

//     h1 {
//       font-family: "Bebas Neue", sans-serif;
//       text-decoration: #f1cc24 double underline;
//       color: white;
//     }

//     h3,
//     h5,
//     h6 {
//       color: white;
//     }
//   }

//   &__Description {
//     margin-left: 30px;
//     margin-top: 40px;
//     color: white;
//   }

//   &__Map {
//     max-width: 100%;
//     width: 20%;
//   }
// }

.BusinessPage {
  &__Details {
    margin: 50px 100px 100px;

    &__Header {
      display: inline-flex;
      align-items: baseline;
      margin-bottom: 6px;
      width: 1050px;

      &__2 {
        margin-left: 500px;

        a {
          border-right: 1px solid rgb(169, 169, 169);
          padding-right: 8px;
        }

        button {
          display: inline-flex;
          padding: 4px 4px;
          margin-left: 10px;
        }
      }
    }

    &__Rating {
      display: flex;
      gap: 20px;
      margin-bottom: 8px;
      align-items: baseline;
      height: 20px;

      &__Price {
        border-left: 1px solid rgb(169, 169, 169);
        height: 100%;
        padding-left: 20px;
      }
    }

    &__Contact {
      display: flex;
      gap: 40px;

      &__Hours {
        font-weight: bold;
      }

      a {
        border-right: 1px solid rgb(169, 169, 169);
        height: 100%;
        padding-right: 20px;
      }
    }

    &__Img {
      display: grid;
      grid-template-columns: 55% 45%;

      img {
        height: 400px;
        width: 400px;
        box-shadow: rgb(73, 80, 90) 0px 15px 30px 10px;
      }
    }

    &__Expanded {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      height: 300px;

      div {
        border: 1px solid rgb(56, 56, 56);
        padding: 30px;
      }

      &__Rating {

        span {
          display: flex;
          gap: 5px;
          align-items: baseline;
        }
        p.Rating {
          font-size: 22px;
        }
      }
    }

  }
}
