.BusinessPage {
  display: grid;
  background-color: #000;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr;
  gap: 20px;
  padding-top: 80px;
  overflow-x: hidden;
  padding: 40px 0 120px;

  img {
    height: 400px;
    width: 400px;
    margin: 90px 150px;
    box-shadow: rgb(73, 80, 90) 0px 15px 30px 10px;
  }

  table {
    height: 200px;
    margin-top: 60px;
  }

  tr {
    background-color: #f1cc24;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 3px, rgb(0, 0, 0) 0px 0px 0px 6px,
      rgb(0, 0, 0) 0px 0px 0px 9px, #000000 0px 0px 0px 12px,
      rgb(0, 0, 0) 0px 0px 0px 15px;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  a:hover {
    color: white;
  }

  &__Details {
    margin-right: 60px;

    h1 {
      font-family: "Bebas Neue", sans-serif;
      text-decoration: #f1cc24 double underline;
      color: white;
    }
  }

  &__Description {
    margin-left: 30px;
    margin-top: 40px;
    color: white;
  }

  &__Map {
    max-width: 100%;
    width: 20%;
  }
}
