.NewBusiness {
  background-color: black;
  padding: 100px 100px;

  h1 {
    text-align: center;
    color: #f1cc24;
  }

  h2 {
    text-align: center;
  }

  label {
    font-weight: bolder;
    text-decoration: underline solid #8f6001;
  }

  form {
    display: grid;
    border: 3px solid black;
    background-color: #fcfcfa;
    padding: 30px;
    margin: 0 auto;
    width: 80%;

    button {
      margin-top: 10px;
      border-radius: 7px;
      width: 30%;
    }
  }

  &__Details {
    display: grid;
    grid-template-columns: 60% 40%;
    border: 1px solid rgb(253, 253, 238);
    box-shadow: rgba(254, 254, 254, 0.56) 0px 22px 70px 4px;
  }
}
