.landingPage {
  background-color: rgb(253, 253, 238);

  h4 {
    margin-left: 10px;
  }

  section > h1,
  section > h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  &__mission-statement {
    margin: -110px 0 40px;
  }

  &__featured {
    text-align: center;
    margin-top: 20px;

    section {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 30px;
      margin-bottom: 30px;
    }

    img {
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      border-radius: 10px;
      width: 400px;
      height: 400px;
    }
  }
}
