body {
  margin: 0;
  font-family:sans-serif;
  background-image: url("https://i.pinimg.com/564x/d1/81/3b/d1813bd1327bee22532e4dbd3e43237c.jpg");
  background-size:  cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}


.Logo{
  text-shadow: #e6ce33 40px 40px 40px;
}

.Nav{
  display: flex;
  justify-content: space-around;
  /* background-image: linear-gradient(rgb(255, 255, 255),rgb(48, 50, 22)) */
  }

.nav-btns{
  align-self: center;
  
}

.nav-btn{
  /* border-radius: 10px; */
  font-size: 13px;
  border-color: #e6ce33;
  margin-right: 70px;  
  

 }

.nav-link{
  text-decoration: none;
  font-size: large;
  color: #e6ce33
  
}

.home{
  color: rgb(206, 200, 166);

  /* text-shadow: rgba(231, 249, 32, 0.56) 500px 22px 70px 4px; */
  margin: 50px;
  align-items: center;
}

.statement{
  text-shadow: rgb(239, 17, 17) 10px 10px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
