body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://iamblackbusiness.com/images/partners/niche-site-black-cents.jpg");
  background-size:  cover;
  background: repeat(none) ; */
}

/* .Nav{
  display: flex;
  justify-content: space-around;
  } */

/* .nav-btns{
  align-self: center;
} */

/* .nav-btn{
  border-radius: 10px;
  font-size: 13px;
  margin-right: 70px;
  background-color: darkseagreen;
 } */

/* .nav-link{
  text-decoration: none;
  font-size: x-large;
  color: white
} */

/* .statement{
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}