.nav {
  height: 100px;
  background-color: #f1cc24;
  width: 100%;

  &__logo {
    height: 125px;
    width: 135px;
  }

  &__buttons {
    margin-left: 600px;
  }

  &__accountIcon {
    position: absolute;
    left: 1250px;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  button:hover {
    background-color: #8f6001;
    opacity: 80%;
    text-decoration: none;
  }
}
